.add-btn{
    background-color: #33cc33;
    color: white;
}

.add-btn:hover{
    background-color: #248f24;
    color: white;
}

.update-btn{
    background-color: #b319e6;
    color: white;
}

.update-btn:hover{
    background-color: #74248f;
    color: white;
}

.delete-btn{
    background-color: #e68019;
    color: white;
}

.delete-btn:hover{
    background-color: #8f5924;
    color: white;
}

.logout-btn{
    background-color: #1972e6;
    color: white;
}

.logout-btn:hover{
    background-color: #1250a1;
    color: white;
}

.delete-account-btn{
    background-color: #8019e6;
    color: white;
}

.delete-account-btn:hover{
    background-color: #5912a1;
    color: white;
}

.manage-users-btn{
    background-color: #e6b319;
    color: white;
}

.manage-users-btn:hover{
    background-color: #a17d12;
    color: white;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}