<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Form</title>
</head>
<body>
<h3>My Custom Login Page</h3>
<form action="#" th:action="@{/authenticate}" method="POST">

  <!-- Check for login error-->
  <div th:if="${param.error}">
    <i>Sorry, you have entered an invalid username/password.</i>
  </div>
  <p>
    User name: <input type="text" name="username"/>
  </p>
  <p>
    Password: <input type="text" name="password"/>
  </p>
  <input type="submit" value="Login"/>
</form>
<br><br>
  <a th:href="@{/addUser}"
     class="btn add-btn btn-sm mb-3">
    Sign Up
  </a>
</body>
</html>